<!-- Jumbotron -->
<div class="jumbotron text-center">
     <h1>Spare Space</h1>
     <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google Login</a>
     <a href="/logout" class="btn btn-default"><span class="fa fa-google"></span> Logout</a>
</div>
